.container {
    margin: auto;
    text-align: center;
}
.stick{
    margin: auto;
    background-color: black;
    width: 10px;
    height: 100px;
} 
.traffic-light {
    margin: auto;
    background-color: black;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    
}
.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.glow {
    box-shadow: 0px 0px 20px 4px #d7e099;
}